<h2>Connexion</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>Pseudo<br />
  <%= f.text_field :login, :autofocus => true %></div>

  <div>Mot de passe<br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> Se souvenir de moi?</div>
  <% end -%>

  <div><%= f.submit "Connexion" %></div>
<% end %>

<%= render "users/shared/links" %>
<%= link_to "Retour", :back %>
