<h1>Articles postés</h1><br />

<table>
  <tr>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Contenu</th>
    <th>Galerie</th>
    <th>Photo</th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <% if article.activate %>
  <tr>
    <td><%= article.content %></td>
    <td><%= Admin.find(article.poster_id).nick %></td>
    <td><%= article.title %></td>
    <td><%= article.gallery_id %></td>
    <td><%= article.picture_id %></td>
    <td><%= link_to 'Permalien', article %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<div>
	<%= paginate @articles %>
</div>
<br />
