<% @articles.each do |article| %>
  <% if article.activate %>
  	<div id="cadre">
		<div id="gauchehaut">
			<div id="tl-corner">
				<img src="/images/tlcorner.jpg" width="100%;"></img>
			</div>
		</div>
		<div id="milieuhaut">
			<h1><%= article.title %></h1><br />
			<span id="txtarticle"><%= article.content %></span><br />
			<span id="finarti">Le <%= article.created_at.strftime("%d-%m-%y") %> à <%= article.created_at.strftime("%H:%M:%S")%></span> par <%= Admin.find(article.poster_id).nick %> -
			<%= link_to "#{article.posts.count} Commentaire(s)", article %>
			<span style="float:right"></span>
		</div>
		<div id="droitehaut">
			<div id="tr-corner">
				<img src="/images/trcorner.jpg" width="100%;"></img>
			</div>
		</div>
		<div style="clear:both"> </div>
		<div id="gauchebas">
			<div id="bl-corner">
				<img src="/images/blcorner.jpg" width="100%;"></img>
			</div>
		</div>
		<div id="milieubas"> </div>
		<div id="droitebas">
			<div id="br-corner">
				<img src="/images/brcorner.jpg" width="100%;"></img>
			</div>
		</div>
	</div>
  <% end %>
<% end %>

<br />

<div>
	<%= paginate @articles %>
</div>
<br />
<% if admin_signed_in? %>
	<%= link_to 'Nouvel article', new_article_path %><br /><br />
<% end %>
