<% @articles.each do |article| %>
  <% if article.activate %>
  	<div id="cadre">
		<div id="gauchehaut">
			<div class="tl-corner">
				<%= image_tag("tlcorner.jpg", :class=>"midcorner") %>
			</div>
		</div>
		<div id="milieuhaut">
			<h1><%= article.title %></h1><br />
			<span id="txtarticle"><%= article.content %></span><br />
			<span id="finarti">Le <%= article.created_at.strftime("%d-%m-%y") %> à <%= article.created_at.strftime("%H:%M:%S")%></span> par <%= Admin.find(article.poster_id).nick %> -
			<%= link_to "#{article.posts.count} Commentaire(s)", article %>
			<span style="float:right"></span>
		</div>
		<div class="droitehaut">
			<div class="tr-corner">
				<%= image_tag("trcorner.jpg", :class=>"midcorner") %>
			</div>
		</div>
		<div style="clear:both"> </div>
		<div class="gauchebas">
			<div class="bl-corner">
				<%= image_tag("blcorner.jpg", :class=>"midcorner") %>
			</div>
		</div>
		<div class="milieubas"> </div>
		<div class="droitebas">
			<div class="br-corner">
				<%= image_tag("brcorner.jpg", :class=>"midcorner") %>
			</div>
		</div>
	</div>
  <% end %>
<% end %>

<br />

<div>
	<%= paginate @articles %>
</div>
<br />
<% if admin_signed_in? %>
	<%= link_to 'Nouvel article', new_article_path %><br /><br />
<% end %>
