<h1>Listing articles</h1><br />

<table>
  <tr>
    <th>Content</th>
    <th>Poster</th>
    <th>Title</th>
    <th>Gallery</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <% if article.activate %>
  <tr>
    <td><%= article.content %></td>
    <td><%= Admin.find(article.poster_id).nick %></td>
    <td><%= article.title %></td>
    <td><%= article.gallery_id %></td>
    <td><%= article.picture_id %></td>
    <td><%= link_to 'Show', article %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />
