<p id="notice"><%= notice %></p>

<p>
  <b>Titre:</b>
  <%= @article.title %>
</p>

<p>
  <b>Auteur:</b>
  <%= @article.poster_id %>
</p>

<p>
  <b>Contenu:</b>
  <%= @article.content %>
</p>

<p>
  <b>Galerie:</b>
  <%= @article.gallery_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @article.picture_id %>
</p>

<% @posts.each do |post| %>
  <% if post.activate %>
    <p>
	  <i>Posté le : <%= post.created_at.strftime("%d-%m-%y") %> à <%= post.created_at.strftime("%H:%M:%S")%></i><br />
	  <u>Auteur</u> : <b><% if post.adorus %>
						<%= Admin.find(post.poster_id).nick %>
					<% else %>
						<%= User.find(post.poster_id).username %>
					<% end %></b><br />
	  <blockquote><%= post.context %></blockquote>
    </p>
  <% end %>
<% end %>
<br />

<div>
	<%= paginate @posts %>
</div>
<br />
<% if admin_signed_in? %>
<%= link_to 'Editer', edit_article_path(@article) %>
<% end %>
<%= link_to 'Retour', root_path %><br /><br />
<%= link_to 'Poster un nouveau commentaire', new_post_path(:article => @article.id) %>
