<h1>Listing maingalls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maingalls.each do |maingall| %>
  <tr>
    <td><%= maingall.name %></td>
    <td><%= maingall.description %></td>
    <td><%= link_to 'Show', maingall %></td>
    <td><%= link_to 'Edit', edit_maingall_path(maingall) %></td>
    <td><%= link_to 'Destroy', maingall, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% @single_gal.each do |gallery| %>
	<td><%= gallery.name %></td>
    <td><%= gallery.description %></td>
    <td><%= link_to 'Show', gallery %></td>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
</table>

<br />

<%= link_to 'New Maingall', new_maingall_path %>
