
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<tr>
  <td><h1>Catégories</h1></td>
</tr>
<% @maingalls.each do |maingall| %>
  <tr>
    <td><%= maingall.name %></td>
    <td><%= maingall.description %></td>
    <td><%= link_to 'Show', maingall %></td>
    <td><%= link_to 'Edit', edit_maingall_path(maingall) %></td>
    <td><%= link_to 'Destroy all', maingall_path(:id => maingall.id, :des => 1), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Destroy only main', maingall_path(:id => maingall.id, :des => 2), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Ajouter une galerie', new_gallery_path(:maingall => maingall.id)%></td>
  </tr>
<% end %>
<tr>
  <td><h1>Galeries seules</h1></td>
</tr>
<% @single_gal.each do |gallery| %>
  <tr>
	<td><%= gallery.name %></td>
    <td><%= gallery.description %></td>
    <td><%= link_to 'Show', gallery %></td>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Nouvelle Photo', new_picture_path(:gallery => gallery.id)%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle catégorie', new_maingall_path %><br />
<%= link_to 'Créer une galerie seule', new_gallery_path %>
