<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @maingall.name %>
</p>

<p>
  <b>Description:</b>
  <%= @maingall.description %>
</p>

<p>
  <b>Galeries:</b>
  <table>
  	<tr>
  		<th>Nom</th>
  		<th>Description</th>
  		<th></th>
  	</tr>
  	<% @maingall.galleries.each do |gallery| %>
  	<tr>
  		<td><%= gallery.name %></td>
  		<td><%= gallery.description %></td>
  		<td><%= link_to "Voir la galerie", gallery_path(gallery) %></td>
  	</tr>
  	<% end %>
  </table>
</p>

<br />
<% if admin_signed_in? %>
<%= link_to 'Editer', edit_maingall_path(@maingall) %> <br />
<% end %>
<%= link_to 'Retour', maingalls_path %>
