<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @picture.path %>
</p>

<p>
  <b>User:</b>
  <%= @picture.user_id %>
</p>

<p>
  <b>Gallery:</b>
  <%= @picture.gallery_id %>
</p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>Size:</b>
  <%= @picture.size %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
