<p id="notice"><%= notice %></p>

<p>
  <b>URL locale</b>
  <%= @picture.path %>
</p>

<p>
  <b>Auteur(User)</b>
  <%= @picture.user.username rescue "" %>
</p>

<p>
  <b>Auteur(Admin)</b>
  <%= picture.admin.nick rescue "" %>
</p>

<p>
  <b>Galerie:</b>
  <%= @picture.gallery_id %>
</p>

<p>
  <b>Titre:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>Taille:</b>
  <%= @picture.size %>
</p>


<%= link_to 'Retour', pictures_path %>
