<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> empêche(nt) ce message d'être publié:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Contenu:<br />
    <%= f.text_area :context %>
  </div>
  <div class="field">
    <%= f.label :gallery_id %><br />
    <%= f.number_field :gallery_id %>
  </div>
  <div class="field">
    <%= f.label :picture_ids %><br />
    <%= f.text_field :picture_ids %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
