<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> empêche(nt) ce message d'être publié:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if (user_signed_in? || admin_signed_in?) %>
  
  <div class="field">
    Contenu:<br />
    <%= f.text_area :context %>
  </div>
  <div class="field">
  	<%= params[:article].to_s %>
  	<!--<%= f.hidden_field :article_id, :value => params[:article] %> -->
  </div>
  <div class="actions">
    <%= f.submit "Valider" %>
  </div>
  
  <% else %>
  Vous n'êtes pas connectés!
  <%end%>
  
<% end %>
