<h1>Commentaires</h1><br />
<% @posts.each do |post| %>
  <div>
    <%= post.context %>
  </div>
  <div>
    Ecrit par: 
    <% if post.adorus %>
    	<%= Admin.find(:first, :conditions => ["id = ?", post.poster_id]).nick %> (Admin)
    <% else %>
    	<%= User.find(:first, :conditions => ["id = ?", post.poster_id]).username %>
    <% end %>
  </div><br /><br />
<% end %>
<table>
  <tr>
    <th>Adorus</th>
    <th>Edition</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.adorus %></td>
    <% if Time.now.to_i < (post.created_at + 5.minutes).to_i || current_admin %>
    <td><%= link_to 'Editer', edit_post_path(post) %></td>
    <% end %>
    <% if admin_signed_in? %>
    <td><%= link_to 'Supprimer', post, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<div>
	<%= paginate @posts %>
</div>
