<h1>Brèves</h1><br />
<% @posts.each do |post| %>
  <div>
    <%= post.context %>
  </div>
  <div>
    Ecrit par: 
    <% if post.adorus %>
    	<%= Admin.find(:first, :conditions => ["id = ?", post.poster_id]).nick %> (Admin)
    <% else %>
    	<%= User.find(:first, :conditions => ["id = ?", post.poster_id]).username %>
    <% end %>
  </div><br /><br />
<% end %>
<table>
  <tr>
    <th>Adorus</th>
    <th>Edition</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.adorus %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Publier une nouvelle brève', new_post_path %>

<div>
	<%= paginate @posts %>
</div>
