<p id="notice"><%= notice %></p>

<p>
  <b>Context:</b>
  <%= @post.context %>
</p>

<p>
  <b>Poster:</b>
  <%= @post.poster_id %>
</p>

<p>
  <b>Adorus:</b>
  <%= @post.adorus %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
