<p id="notice"><%= notice %></p>

<p>
  <b>Contenu:</b>
  <%= @post.context %>
</p>

<p>
  <b>ID Utilisateur:</b>
  <%= @post.poster_id %>
</p>

<p>
  <b>Adorus:</b>
  <%= @post.adorus %>
</p>

<%= link_to 'Editer', edit_post_path(@post) %> |
<%= link_to 'Retour', posts_path %>
