<br />
<%= form_for @gallery, :html => { :multipart => true } do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture_id %><br />
    <% pict = Picture.find(:all, :conditions => ["activate = ? AND gallery_id = ?", true, @gallery.id]) %>
    <%= f.select :picture_id, options_for_select([["<None>" , 0]] + pict) %>
  </div>
  <div class="field">
    <%= f.label :maingall_id %><br />
    <% maingalls = Maingall.find(:all, :conditions => ["activate = ?", true]).map{ |main| ["#{main.id} Hu", main.id] } %>
    <%= f.select :maingall_id, options_for_select([["<None>" , 0]] + maingalls, :selected => params[:maingall]) %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
