<h1>Galeries (toutes)</h1>
<br />
<table>
  <tr>
    <th>Nom</th>
    <th>Couverture</th>
    <th>Catégorie</th>
    <th>Description</th>
    <th></th>
    <% if admin_signed_in? %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @galleries.each do |gallery| %>
  <tr>
    <td><%= gallery.name %></td>
    <td><%= gallery.picture_id %></td>
    <td><%= gallery.maingall_id %></td>
    <td><%= gallery.description %></td>
    <td><%= link_to 'Voir la galerie', gallery %></td>
    <% if admin_signed_in? %>
      <td><%= link_to 'Edition', edit_gallery_path(gallery) %></td>
      <td><%= link_to 'Supprimer', gallery, :confirm => 'Êtes-vous sûr?', :method => :delete %></td>
      <td><%= link_to 'Nouvelle Photo', new_picture_path(:gallery => gallery.id)%></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if admin_signed_in? %>
  <%= link_to 'Nouvelle galerie', new_gallery_path %><br />
<% end%>
<%= link_to "Retour", :back %>
