<h2>Mot de passe oublié?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>E-mail<br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Envoyer le lien pour réinitialiser le mot de passe" %></div>
<% end %>

<%= render "admins/shared/links" %>
