<!DOCTYPE html>
<html>
<head>
  <title>Chatonreiller</title>
  <%= stylesheet_link_tag    "application", "tempor", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Chatonreiller</a></h1>
		</div>
		<div id="menu">
			<ul>
			  <li class="current_page_item"><%= link_to 'Accueil', root_path %></li>
			  <li><%= link_to "Galeries", maingalls_path %></li>
	<% if user_signed_in? %>
		<li><%= link_to "Mon Compte", userprofil_path %></li>
		<li><%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %></li>
	<% end %>
	<% if admin_signed_in? %>
		<li><%= link_to "Mon Compte(Admin)", adminprofil_path %></li>
		<li><%= link_to 'Déconnexion', destroy_admin_session_path, :method => :delete %></li>
	<% end %>
			</ul>
		</div>
	</div>
  </div>

  <div id="page-wrapper">
	<div id="page">
		<div id="content">
			<div>
	<%= yield %>
			</div>
		</div>
	</div>
  </div>

</body>
</html>
